@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


.navbar {
position:sticky;
top:0px;
height: 4em;
background-color: burlywood;
display:flex;
z-index: 1000;
 font-family: 'Bebas Neue' , cursive;
}
.hamburger{
    display: none;
    height:6vh;
    width:7vh;
    margin-top: 1vh; !important
}
#img-logo {
    height:2.5em;
    width:3.5em;
    margin-left:8vw;
    margin-top: 1vh; !important
}
.right-nav {
    display: flex;
   
    width:50vw;   
    justify-content: flex-end;  
    background-color: white;
	 font-family: 'Bebas Neue' , cursive;
	 display:flex;
	 align-items:center;
    
}
.left-nav{
    width:50vw; !important
    left:0px;
    background-color: white;
	 font-family: 'Bebas Neue' , cursive;
	 display:flex;
	 align-items:center;
}

.nav-elements {
    margin:1vw;
    text-decoration: none;
    
    font-family: 'Bebas Neue' , cursive;
	font-size:1.4em;
	font-style:normal;
}
.nav-elements :hover {
    color:rgba(0,0,0,0.5);
}
a {
    text-decoration: none;
    color: black;
}

#fourth {
    margin-right: 8vw;  !important
}
#first {
    margin-left: 12vw;
}



.container {
    display: flex;
 
    
}

.upper-divs {
    
    
}
#left-div {
   width:50vw;
  background-color: #293B52;
    
    height:100vh;
    display:flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.contain-head {
    margin-left: 8vw;
    margin-top: 12vh;
    display:flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items:space-around;
    /*color: #f8d16c;
    font-size: 5vw;
    margin-top: 25vh;
    font-family: 'Playfair Display', serif;
   background-image: linear-gradient(to right, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 50%, transparent 50%, transparent 100%);*/
}
.head{
    
color:rgb(248,209,108);

margin-left:1vh;
margin-top:5vh;
margin-bottom: 1px;
font-size: 5em;


    font-family: 'Playfair Display';
    line-height: 1.3; 


}
.upper-shade {
  /*  background-color: rgba(190, 190, 196, 0.5); */
    margin:0;
    margin-bottom:45px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 80%, rgba(255, 255, 255, 0.2) 50%, transparent 50%, transparent 100%);
    
}
.lower-shade {
   /* background-color: rgba(190, 190, 196, 0.5); !important */
    margin:0;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 65%, rgba(255, 255, 255, 0.2) 50%, transparent 50%, transparent 100%);
}

.left-up-text {
    color:white;
    font-size:1.5em;
    margin-top:0px;
    position: relative;
    top:-3em;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

#right-div {
    width:50vw;
height:100vh;
    background-color: rgb(248,209,108);
    border: black;
    border-width: 10px;
	

}

#computer {
    width:25em;
    margin-top:17%;
    margin-left:18.5%;
    margin-right:10vw; !important
}

.projects {
    background-color: white;
    height: 50vh;
    margin-bottom:50px;
   
}

.project-heading-container {
    display: flex;
    justify-content: center;
}
.project-heading {
    border-bottom: 5px solid rgb(248,209,108);
    margin-top: 8px;
    width: 140px;
    position:relative;
   text-align:center;
    font-size: 40px;
    padding:4px;
    font-family: 'Playfair Display';
    
}



.project-image {
    display:flex;
    justify-content: center;
    
}
#project-image {
    width: 300px; !important
    height: auto;
    margin-top: 20px;
}
.four-projects {
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    margin-left:8vw;
    margin-right: 8vw;
    margin-bottom: 0;
}



.anurag {
   position: relative;
}
.big-number {
    position: absolute;
    transform: translate(0%, -50%);
    left: 0;
    
    height: 100%;
    color: rgba(248, 209, 108, 0.5);
    font-size: 200px;
    font-family: 'TypoPRO Bebas Neue';
    user-select: none;
   
    font-family: 'TypoPRO Bebas Neue';
}
#one {
 
 text-align: right; 
  width:250px;
  margin:10px;
  color: #999999;
    font-size: 14px;
    font-style: italic;
}
#two {
 
    text-align: right;  
    width:250px;
    margin:10px;
    color: #999999;
    font-size: 14px;
    font-style: italic;
   }
#three {
 
    text-align: right;
    width:250px;
    margin:10px;
    color: #999999;
    font-size: 14px;
    font-style: italic;
   }
#four {
 
    text-align: right; 
    width:250px;
    margin:10px;
    color: #999999;
    font-size: 14px;
    font-style: italic;
}
.four-projects-heading {
    font-size:20px;
    font-weight: bold;
    font-family: 'Playfair Display';
    font-size: 20px;
    color:black;
    font-style: normal;
    

}
.above-view-more {
    display: flex;  
    justify-content:center;  !important
    margin-bottom:1vh;
    margin-top:18px;
}
.view-more {
    width:150px;
   font-size:1px;
    margin-bottom:2vh;
    line-break: none;
    font-family: 'TypoPRO Bebas Neue';
    margin-top: 30em;
   
}



button {
    background-color: transparent;
    text-transform: uppercase;
    
    padding:  1em;
    font-family: 'TypoPRO Bebas Neue';
    font-size: 14px;
    border: 2px solid #263146;
    color: #263146;
    transition: background-color 0.3s;
    cursor: pointer;
}
}
.blog {
    
text-align:center;
background-color:#ebebeb; 

 
}

.for-test {
    display:flex;  !important
 justify-content: center;
 
 background-color: #ebebeb; ; 
}
.heading {
    font-size: 32px;
    font-family: 'Playfair Display';
    border-bottom: 0.2em #f8d16c solid;
   display:inline-block;
    padding-left: 0.8em;
    color: #3b3736;
    padding-right: 0.8em;
    padding-bottom: 0.3em;
    margin: auto;
    margin-top:18px;
    font-size: 32px;
    font-family: 'Playfair Display';
    
   
    
}

.for-flex {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #ebebeb; 
}
.right-blog{
    padding:30px;
    
}

#blog-image {
    width: 300px;
    height: auto;
    font-size: 1rem
}
.left-blog{
    
    padding:30px;
    font-size: 18px;
    padding-top: 100px;
}

.contain-read {
    display: flex;
    justify-content: center;
    background-color: #ebebeb;
}
.read-button {
    text-transform: uppercase;
    display: inline-block;
    padding: 0.5em 1em;
    font-family: 'TypoPRO Bebas Neue';
    font-size: 1.1rem;
    border: 2px solid #263146;
    color: #263146;
    transition: background-color 0.3s;
    cursor: pointer;
    margin:auto;
    margin-bottom:15px;
    font-family: 'TypoPRO Bebas Neue';
   
}
.read-button :hover{
    background-color: blue;
}






/*FOOTER : */

.footer-mid {
    margin-left: 8vw;
    margin-right: 8vw;
    display:flex;
  
    justify-content: space-between;
    flex-wrap: wrap-reverse;
   
    color:white;

}

.footer {
    background-color: #293B52;
}

.right-footer {
margin-top:20px;
color:white;
width:40vw;
font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    font-size: 14px;

}
.left-footer{
    margin-top: 25px;
}

.left-footer {
    color:white;
    margin-top:30px;
    
}

#about {
    font-size: 1.5rem;
    line-height: 2;
    font-family: "TypoPRO Bebas Neue";
    color: #fff;
    padding-top: 28px;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    font-size: 25px;
}


.footer-end {
    background-color: #263146;; !important
    
    margin-top:16px;
}
.null {
    margin-left:8vw;
    color:white;
    margin-top:16px;
    padding:4px;
    background-color:#263146;;
}
#contact-us {
    font-size: 20px;
    font-weight: bold;
}
.below-contact {
    font-size: 15px;
    font-weight: normal;
}
.yellow {
    color: yellow;
}
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

/*MEDIA QUERIES FROM HERE*/


@media all and (max-width:1000px){
	.head {
		font-size:3em;
	}
#computer {
	width:20em;
}
    .projects {
        background-color: white;
        height: 50vh;
        margin-bottom:8em;
       
    }
    .four-projects {
        display:flex;
        flex-wrap:wrap;
        justify-content: space-between;
        margin-left:8em;
        margin-right: 8em;
        margin-bottom: 0;
    }
    
    .four-projects-heading {
        font-size:20px;
        font-weight: bold;
    
    }
    
    .anurag {
       position: relative;
    }
    .big-number {
        position: absolute;
        transform: translate(0%, -50%);
        left: 0;
        
        height: 100%;
        color: rgba(248, 209, 108, 0.5);
        font-size: 150px;
        font-family: 'TypoPRO Bebas Neue';
        user-select: none;
    }
    #one {
     
     text-align: right; 
      width:30vw;
      margin:10px;
	  margin-top:0px;
      margin-bottom:90px;
    }
    #two {
     
        text-align: right;  
        width:30vw;
        margin:10px;
		margin-top:0px;
        margin-bottom:90px;
       }
    #three {
     
        text-align: right;
        width:30vw;
        margin:10px;
        margin-bottom:50px;
       }
    #four {
     
        text-align: right; 
        width:30vw;
        margin:10px;
        margin-bottom:50px;
    }
    
}

@media all and (max-width:790px){
    
    
        .hamburger {
            background-color: white;
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            width:50vw;
            font-size: 33px;
           text-align: right;
           padding-right: 8vw;
           padding-top: 5px;;
        }
        .right-nav{
            display: none;
            
            
        }
        .navbar {
            background-color: white;
            width:100vw;
        }


    /* UPPER DIVS HERE*/

.container {
    display: inline-block;
 
    
}

.upper-divs {
    
    
}
#left-div {
   width:100vw;
  background-color: #293B52;
    
    height:100vh;
    display:flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
#right-div {
    display:none;
}

.contain-head {
    margin-left: 8vw;
    margin-top: 12vh;
    display:flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items:space-around;
    
}
.head{
    
color:rgb(248,209,108);

margin-left:1vh;
margin-top:5vh;
margin-bottom: 8px;
font-size: 10vh;


    font-family: 'Playfair Display';
    line-height: 1.3; 


}
.upper-shade {
  /*  background-color: rgba(190, 190, 196, 0.5); */
    margin:0;
    margin-bottom:45px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 80%, rgba(255, 255, 255, 0.2) 50%, transparent 50%, transparent 100%);
    
}
.lower-shade {
   /* background-color: rgba(190, 190, 196, 0.5); !important */
    margin:0;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 65%, rgba(255, 255, 255, 0.2) 50%, transparent 50%, transparent 100%);
}

.left-up-text {
    color:white;
    font-size:3.5vh;
    margin-top:10px;
    position: relative;
    top:-11vh;
    padding-top: 11vh;
}

#right-div {
    width:50vw;
height:100vh;
    background-color: rgb(248,209,108);
    border: black;
    border-width: 10px;

}

#computer {
    width:30vw;
    margin-top:17%;
    margin-left:18.5%;
    margin-right:10vw; !important
}

/*PROJECTS FROM HERE */
    .projects {
        height: 50vh;
    }
    .four-projects {
        display:flex;
        flex-wrap:wrap;
        justify-content: space-between;
        margin-left:8vw;
        margin-right: 8vw;
        margin-bottom: 0;
    }
    
    .four-projects-heading {
        font-size:20px;
        font-weight: bold;
    
    }
    
    .anurag {
       position: relative;
    }
    .big-number {
        position: absolute;
        transform: translate(0%, -50%);
        left: 0;
        
        height: 100%;
        color: rgba(248, 209, 108, 0.5);
        font-size: 150px;
        font-family: 'TypoPRO Bebas Neue';
        user-select: none;
    }
    #one {
     
     text-align: right; 
      width:80vw;
      margin:10px;
      margin-bottom:90px;!important
    }
    #two {
     
        text-align: right;  
        width:80vw;
        margin:10px;
        margin-bottom:90px;
       }
    #three {
     
        text-align: right;
        width:80vw;
        margin:10px;
        margin-bottom:50px;
       }
    #four {
     
        text-align: right; 
        width:80vw;
        margin:10px;
        margin-bottom:50px;
    }
    .right-footer {
        margin-top:20px;
        color:white;
        width:80vw;
        font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
            font-size: 14px;
        
        }
        .view-more {
            width:150px;
           font-size:1px;
            margin-bottom:2vh;
            line-break: none;
            font-family: 'TypoPRO Bebas Neue';
            margin-top: 22px;
           
        }
        
}
    /* footer from here
    .footer-mid {
        margin-left: 8vw;
        margin-right: 8vw;
        display:flex;
      
        justify-content: space-between;
        flex-wrap: wrap;
       
        color:white;
    
    }
    
    .footer {
        background-color: #293B52;
    }
    
    .right-footer {
    margin-top:30px;
    color:white;
    width:100%;
    }
    
    .left-footer {
        color:white;
        margin-top:30px;
    }
    
    #about {
        font-size: 1.5rem;
        line-height: 2;
        font-family: "TypoPRO Bebas Neue";
        color: #fff;
        padding-top: 28px;
    }
    
    
    .footer-end {
        background-color: #040f1b ; !important
        
        margin-top:16px;
    }
    .null {
        margin-left:8vw;
        color:white;
        margin-top:16px;
        padding:4px;
        background-color:#040f1b;
    }
    
}*/